/ManteqCodeTest/obj
/ManteqCodeTest/bin
/ManteqCodeTest.Core/obj
/ManteqCodeTest.Core/bin
/packages
/Endpoint/bin
/Endpoint/obj
/Server/obj
/Server/bin
/Subscriber/bin
/Subscriber/obj
/ManteqCodeTest.v11.suo
/initial commit
/ManteqCodeTest/App_Data/nsb_log_2015-08-21_0.txt
/ManteqCodeTest/App_Data/nsb_log_2015-08-22_0.txt
/ManteqCodeTest/App_Data/nsb_log_2015-09-07_0.txt
/ManteqCodeTest/App_Data/nsb_log_2015-09-08_0.txt
